.follow {
    color: blue; border-radius: 50px;  background-color: white; width: 100px; height: 40px;
}
#bc {
    background-color: darkgrey;
}
.dropdown{
    border: black ; border-width: medium; border-style: solid; border-radius: 5px; width: 250px; height: 40px;
}
#search{
    border-style: ridge; border-radius: 5px; width: 300px;
}
#jobbotton{
    background-color: blue; width: 100px; height: 40px; border-radius: 50px; text-decoration: white; text-decoration-color: white;
}
