*{
    box-sizing: border-box;
}



.follow {
    color: blue; border-radius: 50px;  background-color: white;
     width: 90px; height: 40px;
   
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
   
    position: relative;
    text-align: center;
    background: transparent;
    background-attachment: scroll;
    text-decoration-color: mediumblue;
    border-color: mediumblue;
    padding-left: 24px;
    padding-right: 24pxs;
    padding-bottom: 5px;
    padding-top: 2px;
    text-align: center;
    margin: 2px 0 2px 4px;
    border-bottom-left-radius: 48px;
    border-bottom-left-radius: 48px;
    padding: 0 16px 0 16px;
}
#bc {
    background-color: rgb(216, 209, 209);
    border-style: none;
    padding: 2px 10px 2px 10px;
    font-size: 0.9rem;
    font-weight: 500;
}
.dropdown{
    border: black ; border-width: medium; border-style: solid; border-radius: 5px; width: 250px; height: 40px;
}
#search{
    border-style: ridge; border-radius: 5px; width: 300px;
}
#jobbotton{
    background-color: rgb(48, 48, 160);  width: 90px; height: 40px; border-radius: 50px; text-decoration: white; text-decoration-color: white;
    border-color: black;
    cursor: pointer;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 5px;
    padding-top: 2px; 
    font-size: 0.80rem;
    font-weight: 500;
    font-family: inherit;
    text-align: inherit;
    /* text-decoration-color: white;/ */
    /* text-emphasis-color: white;/ */

    
}
html{
    font-size: 1rem;
    line-height: 1.5;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
   
}
.emplo{
    font-size: 1rem;
    font-family: inherit;
    font-weight: 400;
}
.head{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 31.99px;
    
}
.loc{
    font-size: 1.5rem;
    font-weight: 400;

}
.dir{
    cursor: pointer;
    color: blue;
    font-weight: 500;
}
.jn{
    font: 1rem;
    font-weight: 500;
    padding: 2px;
    color: gray;
}
.ov{
    font-weight: 500;
}
