.one{
    border: 3px solid black;
    background-color: darkcyan;
    height: 150px;
    padding: 10px 10px 10px 10px;
    width: 500px;
    margin-bottom: 50px;
    float: left;
    border-radius: 20px;
   
}
.two{
  border: 3px solid black;
  background-color: darkgoldenrod;
  height: 150px;
  padding: 10px 10px 10px 10px;
  width: 250px;
  margin-bottom: 20px;
 float: left;
 border-radius: 20px;
}
.three{
  border: 3px solid black;
  background-color: darkorchid;
  height: 150px;
  padding-left: 15px;
  padding-right: 1px;
  padding-bottom: 20px;
  width: 150px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
  border-radius: 20px;
  
}
